@(firstName: String, secondName:String, firstListWeights: List[Integer], secondListWeights: List[Integer], firstListSpeeds: List[Double], secondListSpeeds: List[Double])

<style>
	html {
		font-family: sans-serif;
	}
	
	#wrapper {
		border: 1px solid black;
		height: 800px;
		width: 800px;
		margin: 0 auto;
	}

	.half-window {
		padding-top: 5px;
		height: 399px;
		width: 600px;
		margin-left:100px;
		position:relative;
	}
	
	.half-window h1 {
		margin-top: 30px;
		margin-bottom: -30px;
	}
	
	.separator {
		height: 1px;
		width: 800px;
		background-color:#000;
	}
	
	.character {
		margin-top: 30px;
		margin-left: -120px;
		width: 240px;
		height: 300px;
		z-index:100;
		background-repeat:no-repeat;
		background-position: bottom;
		background-size: 400px 400px;
	}
	
	.message {
		margin-left: 160px;
		padding-top: 30px;
		font-weight: bold;
		font-family: "courier";
		font-size: 30px;
		color: #0000cc;
	}
	
	#first .character {
		background-image:url("assets/images/redrunner.gif");
	}
	
	#first .still {
		background-image:url("assets/images/redrunnerstill.png") !important;
	}
	
	#first .fat {
		background-image:url("assets/images/redrunner-fat.gif") !important;
	}
	
	#first .extrafat {
		background-image:url("assets/images/redrunner-extrafat.gif") !important;
	}
	
	#second .character {
		background-image:url("assets/images/bluerunner.gif");
	}
	
	#second .still {
		background-image:url("assets/images/bluerunnerstill.png") !important;
	}
	
	#second .fat {
		background-image:url("assets/images/bluerunner-fat.gif") !important;
	}
	
	#second .extrafat {
		background-image:url("assets/images/bluerunner-extrafat.gif") !important;
	}
	
	.distance-marker {
		border-left: 5px solid gray;
		height: 10px;
		width: 20px;
		padding-top: 100px;
		padding-left: 15px;
		position: absolute;
		top: 250px;
		z-index:-999;
	}
</style>

@main("410 Project") {
	<div id="wrapper">
		<div id="first" class="half-window">
	    	<h1>@firstName</h1>
	    	<div class="character">
	    		<div class="sprite"></div>
	    		<div class="message"></div>
	    	</div>
	    	<div class="markers"></div>
	    </div>
	    
	    <div class="separator"></div>
	    
	    <div id="second" class="half-window">
	    	<h1>@secondName</h1>
	    	<div class="character">
		    	<div class="sprite"></div>
		    	<div class="message"></div>
	    	</div>
	    	<div class="markers"></div>
	    </div>
	</div>
}

<script>
	// referencing http://www.paulirish.com/2011/requestanimationframe-for-smart-animating/
	window.requestAnimFrame = (function(){
	  return  window.requestAnimationFrame       ||
	          window.webkitRequestAnimationFrame ||
	          window.mozRequestAnimationFrame    ||
	          function( callback ){
	            window.setTimeout(callback, 1000 / 60);
	          };
	})();

	$(document).ready(function() {
		updateMarkers();
		loop();
	});
	
	const scaleFactor = 20;
	const meterIncrement = 10;
	const framesPerWeek = 200;
	
	var firstPosition = 0;
	var secondPosition = 0;
	
	var firstListWeights = @Html(firstListWeights.toString());
	var secondListWeights = @Html(secondListWeights.toString());
	
	var firstListSpeeds = @Html(firstListSpeeds.toString());
	var secondListSpeeds = @Html(secondListSpeeds.toString());
	
	var frameCount = 0;
	function loop() {
		if ((frameCount / framesPerWeek) < firstListWeights.length) {
			requestAnimFrame(loop);
			updateFirstRepo(frameCount);
			updateSecondRepo(frameCount);
			updateMarkers();
			frameCount++;
		} else {
			$('#first .character').toggleClass('still');
			$('#first .character .message').html(firstPosition/scaleFactor + 'm!');
			$('#second .character').toggleClass('still');
			$('#second .character .message').html(secondPosition/scaleFactor + "m!");
		}
	}
	
	function updateMarkers() {
		updateFirstRepoMarkers();
		updateSecondRepoMarkers();
	}

	function updateFirstRepoMarkers() {
		$markers = $('#first .markers');
		$markers.html('');
		for(var i = firstPosition - 100; i < firstPosition + 700; i+=1) {
			if(i % (scaleFactor * meterIncrement) == 0) {
				$markers.append('<div class="distance-marker" style="left: ' + Math.floor(i - firstPosition) + '" >' + i/scaleFactor + 'm</div>');
			}
		}
	}
	
	function updateSecondRepoMarkers() {
		$markers = $('#second .markers');
		$markers.html('');
		for(var i = secondPosition - 100; i < secondPosition + 700; i+=1) { 
			if(i % (scaleFactor * meterIncrement) == 0) {
				$markers.append('<div class="distance-marker" style="left: ' + Math.floor(i - secondPosition) + '" >' + i/scaleFactor + 'm</div>');
			}
		}
	}
	
	function updateFirstRepo( frameNum ) { 
		updateHalfWindow($('#first'), firstListWeights, firstListSpeeds, frameNum);
	} 
	
	function updateSecondRepo( frameNum ) { 
		updateHalfWindow($('#second'), secondListWeights, secondListSpeeds, frameNum);
	}
	
	function updateHalfWindow( $window, weights, speeds, frameNum ) {
		currIndex = Math.floor(window.frameCount / framesPerWeek);
		
		if (window.frameCount % framesPerWeek == 0) {
			var weightState = weights[currIndex];

            console.log(weightState);
            console.log($window.attr('id'));

            if (weightState == 0) {
                $window.removeClass('.fat .extrafat');
            } else if (weightState == 1) {
                $window.removeClass('.extrafat').addClass('.fat');
            } else if (weightState == 2) {
                $window.removeClass('.fat').addClass('.extrafat');
            }
		}
		
		if ($window.attr('id') == "first") {
			firstPosition += speeds[currIndex] * scaleFactor;
		} else if ($window.attr('id') == "second"){
			secondPosition += speeds[currIndex] * scaleFactor;
		}
	}
</script>