@(  
    firstName: String, secondName:String, 
    firstListWeights: List[Integer], secondListWeights: List[Integer], 
    firstListSpeeds: List[Double], secondListSpeeds: List[Double], 
    firstListCollabs: List[Integer], secondListCollabs: List[Integer]
)

<style>
	html {
		font-family: sans-serif;
	}
	
	#wrapper {
		border: 1px solid black;
		height: 800px;
		width: 800px;
		margin: 0 auto;
        background-color:#0f0;
        z-index: -999;
	}

	.half-window {
		padding-top: 5px;
		height: 399px;
		width: 600px;
		margin-left:100px;
		position:relative;
        
	}
	
	.half-window h1 {
		margin-top: 30px;
		margin-bottom: -30px;
	}

    .half-window h2 {
        position:absolute;
        text-align:right;
        right:15px;
        top:20px;
    }
	
	.separator {
		height: 1px;
		width: 800px;
		background-color:#000;
	}
	
	.character {
		margin-top: 30px;
		margin-left: -120px;
		width: 240px;
		height: 300px;
        position: relative;
		z-index:10000;
		background-repeat:no-repeat;
		background-position: bottom;
		background-size: 400px 400px;
	}
	
	.message {
		margin-left: 160px;
		padding-top: 30px;
		font-weight: bold;
		font-family: "courier";
		font-size: 30px;
		color: #0000cc;
	}
	
	#first .character {
		background-image:url("assets/images/redrunner.gif");
	}
	
	#first .still {
		background-image:url("assets/images/redrunner-still.png") !important;
	}

    #first .fat.still {
        background-image:url("assets/images/redrunner-fat-still.png") !important;
    }

    #first .extrafat.still {
        background-image:url("assets/images/redrunner-extrafat-still.png") !important;
    }
	
	#first .fat {
		background-image:url("assets/images/redrunner-fat.gif") !important;
	}
	
	#first .extrafat {
		background-image:url("assets/images/redrunner-extrafat.gif") !important;
	}
	
	#second .character {
		background-image:url("assets/images/bluerunner.gif");
	}
	
	#second .still {
		background-image:url("assets/images/bluerunner-still.png") !important;
	}

    #second .fat.still {
        background-image:url("assets/images/bluerunner-fat-still.png") !important;
    }

    #second .extrafat.still {
        background-image:url("assets/images/bluerunner-extrafat-still.png") !important;
    }
	
	#second .fat {
		background-image:url("assets/images/bluerunner-fat.gif") !important;
	}
	
	#second .extrafat {
		background-image:url("assets/images/bluerunner-extrafat.gif") !important;
	}

    .fanbox {
        width: 384px;
        height: 128px;
        position: absolute;
        top: 100px;
        right: 15px;
    }

    .fanbox h1 {
        font-size: 70px;
        margin: 0px;
    }

    .fan {
        float:left;
        height: 64px;
        width: 32px;
        background-image:url("assets/images/fan.gif");
    }

    .clear {
        clear:both;
    }
	
    .track {
        height: 90px;
        width: 800px;
        margin: 0 auto;
        background-color: #fc0;
        z-index:0;
        left: -100px;
        top: 260px;
        position:absolute;
    }

	.distance-marker {
		border-left: 5px solid gray;
		height: 10px;
		width: 20px;
		padding-top: 100px;
		padding-left: 15px;
		position: absolute;
		top: 250px;
		z-index:2;
	}

    .title {
        text-align: center;
    }
</style>

@main("410 Project") {
    <div class="title"><h1>Team Yardwand's CODE RACE!</h1></div>
	<div id="wrapper">
		<div id="first" class="half-window">
	    	<h1>@firstName</h1>
            <h2><div class="weekcount">Week 0</div></h2>
            <div class="fanbox"></div>
            <div class="clear"></div>
	    	<div class="character">
	    		<div class="sprite"></div>
	    		<div class="message"></div>
	    	</div>
            <div class="track"></div>
	    	<div class="markers"></div>
	    </div>
	    
	    <div class="separator"></div>
	    
	    <div id="second" class="half-window">
            <h1>@secondName</h1>
            <h2><div class="weekcount">Week 0</div></h2>
            <div class="fanbox"></div>
            <div class="clear"></div>
	    	<div class="character">
		    	<div class="sprite"></div>
		    	<div class="message"></div>
	    	</div>
            <div class="track"></div>
	    	<div class="markers"></div>
	    </div>
	</div>
    <br/>
    <div class="title"><button type="button" onClick="history.go(0)">Restart</button></div>
}

<script>
	// referencing http://www.paulirish.com/2011/requestanimationframe-for-smart-animating/
	window.requestAnimFrame = (function(){
	  return  window.requestAnimationFrame       ||
	          window.webkitRequestAnimationFrame ||
	          window.mozRequestAnimationFrame    ||
	          function( callback ){
	            window.setTimeout(callback, 1000 / 60);
	          };
	})();

	$(document).ready(function() {
		updateMarkers();
		loop();
	});
	
	const scaleFactor = 20;
	const meterIncrement = 10;
	const framesPerWeek = 200;
	
	var firstPosition = 0;
	var secondPosition = 0;
	
	var firstListWeights = @Html(firstListWeights.toString());
	var secondListWeights = @Html(secondListWeights.toString());
	
	var firstListSpeeds = @Html(firstListSpeeds.toString());
	var secondListSpeeds = @Html(secondListSpeeds.toString());

    var firstListCollabs = @Html(firstListCollabs.toString());
    var secondListCollabs = @Html(secondListCollabs.toString());
	console.log(firstListCollabs);
    console.log(secondListCollabs);

	var frameCount = 0;
	function loop() {
		if ((frameCount / framesPerWeek) < firstListWeights.length) {
			requestAnimFrame(loop);
			updateFirstRepo(frameCount);
			updateSecondRepo(frameCount);
			updateMarkers();
			frameCount++;
		} else {
            var r1final = firstPosition/scaleFactor;
            var r2final = secondPosition/scaleFactor;
			$('#first .character').addClass('still');
			$('#first .character .message').html(r1final + 'm!');
			$('#second .character').addClass('still');
			$('#second .character .message').html(r2final + "m!");
            if (r1final > r2final) {
                $('#first .fanbox').html('<h1>WINNER</h1>');
                $('#second .fanbox').html('<h1>LOSER</h1>');
            } else if (r1final < r2final) {
                $('#first .fanbox').html('<h1>LOSER</h1>');
                $('#second .fanbox').html('<h1>WINNER</h1>');
            } else {
                $('#first .fanbox').html('<h1>DRAW</h1>');
                $('#second .fanbox').html('<h1>DRAW</h1>');
            }
		}
	}
	
	function updateMarkers() {
		updateFirstRepoMarkers();
		updateSecondRepoMarkers();
	}

	function updateFirstRepoMarkers() {
		$markers = $('#first .markers');
		$markers.html('');
		for(var i = firstPosition - 100; i < firstPosition + 700; i+=1) {
			if(i % (scaleFactor * meterIncrement) == 0) {
				$markers.append('<div class="distance-marker" style="left: ' + Math.floor(i - firstPosition) + '" >' + i/scaleFactor + 'm</div>');
			}
		}
	}
	
	function updateSecondRepoMarkers() {
		$markers = $('#second .markers');
		$markers.html('');
		for(var i = secondPosition - 100; i < secondPosition + 700; i+=1) { 
			if(i % (scaleFactor * meterIncrement) == 0) {
				$markers.append('<div class="distance-marker" style="left: ' + Math.floor(i - secondPosition) + '" >' + i/scaleFactor + 'm</div>');
			}
		}
	}
	
	function updateFirstRepo( frameNum ) { 
		updateHalfWindow($('#first'), firstListWeights, firstListSpeeds, firstListCollabs, frameNum);
	} 
	
	function updateSecondRepo( frameNum ) { 
		updateHalfWindow($('#second'), secondListWeights, secondListSpeeds, secondListCollabs, frameNum);
	}
	
	function updateHalfWindow( $window, weights, speeds, collabs, frameNum ) {
		currIndex = Math.floor(window.frameCount / framesPerWeek);
		
		if (window.frameCount % framesPerWeek == 0) {
            // adjust week count
            var weekCount = window.frameCount / framesPerWeek + 1;
			$window.children('h2').children('.weekcount').html("Week " + weekCount)

            // adjust collaborator count
            var currentFanCount = $window.children('.fanbox').children('.fan').length;
            var deltaFans = collabs[currIndex] - currentFanCount;

            if (deltaFans > 0) {
                addFans(deltaFans, $window.children('.fanbox'));
            } else if (deltaFans < 0) {
                removeFans((-1) * deltaFans, $window.children('.fanbox'));
            }

            // adjust weight
            var weightState = weights[currIndex];

            if (weightState == 0) {
                $window.children('.character').removeClass('fat extrafat');
            } else if (weightState == 1) {
                $window.children('.character').removeClass('extrafat').addClass('fat');
            } else if (weightState == 2) {
                $window.children('.character').removeClass('fat').addClass('extrafat');
            }
		}
		
		if ($window.attr('id') == "first") {
			firstPosition += speeds[currIndex] * scaleFactor;
		} else if ($window.attr('id') == "second"){
			secondPosition += speeds[currIndex] * scaleFactor;
		}
	}

    function addFans(n, fanbox) {
        for(var i = 0; i < n; i += 1) {
            fanbox.append('<div class="fan"></div>');
        }
    }

    function removeFans(n, fanbox) {
        for(var i = 0; i < n; i += 1) {
            fanbox.children()[0].remove();
        }
    }
</script>